---
layout: layout.liquid
title: 11ty Boilerplate
---

<div class="main-content">
  <div class="title">
    <h1>Galaxy<br>Quest<br>Diaries</h1>
  </div>
  <div class="blurb">
    <p>Your blurb about Galaxy Quest Diaries goes here.</p>
  </div>
</div>
