---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/" title="Go home">HOME</a></li>
      <li><a href="/about/" title="About Page">ABOUT</a></li>
      <li><a href="/blogpage/" title="Blog posts">BLOG POSTS</a></li>
    </ul>
  </div>
  <div class="content">
    {{ content }}
  </div>
</body>
</html>
