body {
    font-family: Helvetica, sans-serif;
    color: #FAFAFA;
    background: #212121;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.navbar {
    background: #686868;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    display: inline-block;
    padding: 0;
    color: #FAFAFA;
    text-decoration: none;
    font-size: 1.2em;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 100px;
}

.title {
    text-align: left;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    line-height: 1.2;
    margin: 0;
}

.blurb {
    max-width: 475px;
    margin-left: 250px; 
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
    padding-top: 20px;
}
