body {
    font-family: Helvetica, sans-serif;
    color: #FAFAFA;
    background: #212121;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.navbar {
    background: #686868;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    display: inline-block;
    padding: 10px;
    color: #FAFAFA;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    margin: 20px 0;
    text-align: right;
}

.blurb {
    max-width: 300px;
    text-align: left;
    padding: 20px;
}